:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


    /* Primeira Sessão */

section.PrimeiraSessao{
    height: 93vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    
}

.parteUmPrimeiraSessao{
    width: 37%;
    height: 100%;
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: column;
    justify-content: center;
     

    p{
        margin-left: 4rem;
        margin-top: 3.5rem;
        flex-wrap: wrap;
        color: #fff;
        font-family: "Montagu Slab", serif;
        font-weight: 450;
        font-size: 5.5rem;
        text-transform: uppercase;

        u{
            text-decoration: underline; /* Habilita o sublinhado */
            text-decoration-thickness: 3px; /* Define a espessura da linha */
            text-underline-offset: 10px; /* Define a distância da linha para o texto */
        }
    }

}

.parteDoisPrimeiraSessao{

    display: flex;
    width: 63%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        border: none;
    }

}



/* Segunda Sessão */


section.SegundaSessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    
}
h1{
        font-family: "Montagu Slab", serif;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 500;
}
.caixaCarrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 2rem;
    

    .btn{
        background-color: #fff;
        color: var(--cor-primaria);
        width: 5rem;
        height: 3rem;
        font-weight: bold;
        font-size: 2rem;
        transition: all 0.5s ease-in-out;

        &:hover{
            color: #420606;
            transform: scale(1.1); 
            transition: all 0.3s  ease-in-out;
        }
    }
}

.carrossel {
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    overflow: hidden;
    margin: 4rem 0rem;
    
}

.conteinerCard {
    display: flex;
    transition: transform 0.4s ease;
    gap: 2rem;
    width: max-content; /* ESSENCIAL */
    height: 90%;
   
   
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 3px #6c0a0a9f;
    height: 23rem;
    width: 18rem;
    margin: 3.8rem 1.5rem;

    transition: all 0.5s ease-in-out;

    &:hover{
        transform: scale(1.1); 
        transition: all 0.3s  ease-in-out;
    }
    

    img{
        height: 80%;
        width: 95%;
        object-fit: cover;
    }

}



.cardText{
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.cardText p{
        font-family: "Montagu Slab", serif;
        font-size: 1rem;
        margin: 5px 0px 0px 5px;
    }


    


/* Terceira Sessão */

section.TerceiraSessao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--cor-primaria);
    width: 100%;
    height: 28vh;
    padding: 0rem 17rem;

    p{
        text-align: center;
        font-family:  "Montserrat", sans-serif;
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
    }
}





/* Quarta Sessão */

section.QuartaSessao{
    display: flex;
    width: 100%;
    height: 70vh;
   

}

.containerPrimeiraParte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--cor-primaria);
    padding: 0rem 8rem;


    p{
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        font-size: 2rem;
        
    }
}

.containerSegundaParte{
    display: flex;
    height: 100%;
    width: 50%;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}





/* Sexta Sessão */

section.SextaSessao{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.carrosselCardCategoria{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 30rem;
    gap: 3.5rem;
}

.containerCardCategoria{
    display: flex;
    width: 20%;
    cursor: pointer;
}
.cardCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 2px #6c0a0a9f;
    height: 40%;
    width: 100%;

    transition: all 0.5s ease-in-out;

    &:hover{
        transform: scale(1.1); 
        transition: all 0.3s  ease-in-out;
    }

    p{
        text-align: center;
        font-family: "Montagu Slab", serif;
        color: var(--cor-primaria);
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}
















.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 500px;
    height: 30rem;
    border-radius: 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.2rem;
    box-shadow: 2px 2px 3px #6c0a0a9f;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
        height: 70%;

    }

    .caixa-inp{
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    input{
        width: 5rem;
        height: 2rem;
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        color: var(--cor-primaria);
        outline: none; /* tirar borda padrão do input */
      
        text-align: center;
    }

    label{
        font-weight: 500;
        text-transform: uppercase;

       

    }
    select{
        width: 9.5rem;
        text-align: center;
        outline: none; /* tirar borda padrão do input */
        height: 1.8rem;
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        color: var(--cor-primaria);
    }
}

.modal-content img {
    width: 180px;
    height: 70%;
    margin-bottom: 1rem;
}
.caixa-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 90%;
}


.fechar {
    float: right;
    font-size: 35px;
    cursor: pointer;
    margin-left: 25rem;
    
}

.btnPedido {
    margin-top: 2rem;
    width: 65%;
    height: 3.5rem;
    background: #6C0A0A;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing:2px;
}

.btnPedido:hover {
    background: #420606;
}

.btnConfirmar{
    margin-top: 2rem;
    width: 60%;
    height: 2.8rem;
    background: #6C0A0A;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing:2px;
}

.btnConfirmar:hover {
    background: #0e6b1e;
}






/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */

/* 1360px */
@media (max-width: 1360px) {
    
    section.PrimeiraSessao{
        background-color: #fff;
        .parteUmPrimeiraSessao{
            width: 35%;
            height: 90%;
            p{
                font-size: 3.5rem;
            }
        }
            
        .parteDoisPrimeiraSessao{
            width:65%;
            height: 90%;
        }
    }


    .carrossel{
        width: 80%;
    }
    .containerCard{
        gap: 0.5rem;
    }
    .card{
        height: 21rem;
    width: 16rem;
    }

    
    section.TerceiraSessao{
        padding: 0rem 10rem;
        p{font-size: 1.8rem;}
    }

    

    section.QuartaSessao{
        .containerPrimeiraParte{
            padding: 0rem 6rem;
        }
    }

    section.SextaSessao H1{font-size: 2.1rem;}

    div.carrosselCardCategoria{  
        width: 95%;
    }

    .cardCategoria P {
        font-size: 1.7rem;
    }


}



/* 1000px */
@media (max-width: 1000px) {
    section.PrimeiraSessao{
        .parteUmPrimeiraSessao{
            
            width: 30%;
            height: 90%;
            p{
                margin-left: 2rem;
                font-size: 3rem;
            }
        }
                
        .parteDoisPrimeiraSessao{
            width:70%;  
            height: 90%;
        }
    }


    
    section.TerceiraSessao{
        padding: 0rem 8rem;
        p{font-size: 1.6rem;}
    }

    

    section.QuartaSessao{
        .containerPrimeiraParte{
            padding: 0rem 4rem;
            p{font-size: 1.7rem;}
        }
        
    }


   section.SextaSessao H1{
        font-size: 1.9rem;
        text-align: center;
    }

    div.carrosselCardCategoria{  
        width: 95%;
        
    }

    .containerCardCategoria{
        width: 28%;
    }

    .cardCategoria P {
        font-size: 1.7rem;
    }


}


/* 890px */
@media (max-width: 925px) {
    section.PrimeiraSessao{
        .parteDoisPrimeiraSessao{
            display: none;
        }
        .parteUmPrimeiraSessao{
            width: 100%;
            p{
            text-align: center;
                font-size: 3rem;
            }
        }
    }


     section.TerceiraSessao{
        padding: 0rem 2rem;
        p{font-size: 1.3rem;}
    }

    /* Quarta Sessão */

    section.QuartaSessao{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 55rem;
    
        .containerPrimeiraParte{
            width: 100%;
            height: 25%;
            p{font-size: 1.3rem;}
        }
        .containerSegundaParte{
            height: 75%;
            width: 100%;
        }
        

    }


    section.SextaSessao {
        height: 30rem;
        margin-bottom:1.5rem;
        H1{
            font-size: 1.6rem;
            text-align: center;
        }
       
    }

    div.carrosselCardCategoria{  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 90%;
        margin-top: 0rem;
        gap: 0rem;
    }

    .containerCardCategoria{
        width: 48%;
        height: 90%;
        justify-content: center;
        align-items: center;

    }


    .cardCategoria {
        height: 60%;
        P {
        font-size: 1.6rem; 
        }
    }


}