:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


    /* Primeira Sessão */

section.PrimeiraSessao{
    height: 90vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    
}

.parteUmPrimeiraSessao{
    width: 37%;
    height: 100%;
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: column;
     

    p{
        margin-left: 4rem;
        margin-top: 3.5rem;
        flex-wrap: wrap;
        color: #fff;
        font-family: "Montagu Slab", serif;
        font-weight: 450;
        font-size: 5.5rem;
        text-transform: uppercase;

        u{
            text-decoration: underline; /* Habilita o sublinhado */
            text-decoration-thickness: 3px; /* Define a espessura da linha */
            text-underline-offset: 10px; /* Define a distância da linha para o texto */
        }
    }

}

.parteDoisPrimeiraSessao{

    display: flex;
    width: 63%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        border: none;
    }

}



/* Segunda Sessão */


section.SegundaSessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    
}
h1{
        font-family: "Montagu Slab", serif;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 500;
}

div.carrosselCard{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 29rem;
    gap: 2.5rem;
}
.conteinerCard{
    display: flex;
    width: 27%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.2rem;
    box-shadow: 2px 2px 3px #6c0a0a9f;
    height: 60%;
    width: 100%;

    img{
        height: 80%;
    }

}

.cardText{
    display: flex;
    flex-direction: column;
    
}
.cardText p{
        font-family: "Montagu Slab", serif;
        font-size: 1.2rem;
        margin: 3px 0px 0px 4px;
    }


    


/* Terceira Sessão */

section.TerceiraSessao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--cor-primaria);
    width: 100%;
    height: 28vh;
    padding: 0rem 17rem;

    p{
        text-align: center;
        font-family:  "Montserrat", sans-serif;
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
    }
}





/* Quarta Sessão */

section.QuartaSessao{
    display: flex;
    width: 100%;
    height: 70vh;
   

}

.containerPrimeiraParte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: var(--cor-primaria);
    padding: 0rem 8rem;


    p{
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        font-size: 2rem;
        
    }
}

.containerSegundaParte{
    display: flex;
    height: 100%;
    width: 55%;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}