:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

footer{
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55vh;
    padding: 1rem 2rem;
}

.titFooter{
    display: flex;
    align-items: center;
    height: 20%;

    h2{
        color: #fff;
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }
}

.containerInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 90%;
    height: 60%;
    margin-top: 3rem;
    
}

.atendimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 35%;
    height: 100%;
    gap: 2rem;

    h3{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
         gap: 0.4rem; /* para usar gap, o elemento tem que ser display flex */
        
    }
    p{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: left;
       
    }
    a{
        
        color: #fff;
    }
    
}

.pagamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 2rem;

    h3{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 650;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: center;
    }
    img{
        object-fit: cover;
        height: 2rem;
    }
    img:hover{
        transform: scale(1.1); 
        transition: all 0.3s  ease-in-out;
    }
    ul{
        display: flex;
        gap: 1rem;
        list-style: none;
    }
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width: 32%;
    height: 100%;
    gap: 2rem;

    h3{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 650;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: left;
    }

    ul{
        display: flex;
        gap: 0.5rem;
        list-style: none;
    }
    i{

        color: #fff;
        font-size: 2rem;
    }
    i:hover{
        transform: scale(1.1); 
        transition: all 0.3s  ease-in-out;
    }
}




.autoriaECopy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    height: 20%;
    width: 100%;
    
    
}

.espaco{
    display: flex;
    width: 15%;
}
.textCopy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-top: 1px solid #ffffff94;

    p{
        padding-top: 1rem;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;

    }
}

.linkAdm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;

    a{
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 550;
        font-family: "Montserrat", sans-serif;
    }
}









/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */




/* 1000px */
@media (max-width: 1000px) {

    .titFooter h2{
        font-size: 2rem;
    }


    .atendimento h3, .pagamento h3, .redes h3{
        font-size: 0.9rem;
    }
    .atendimento p, .pagamento p, .redes p{
        font-size: 0.8rem;
    }
    .pagamento img{
        height: 1.5rem;
    }
    .redes i {
        font-size: 1.5rem;
    }

    .textCopy p {
        font-size: 0.8rem;
        padding-top: 0.8rem;
    }

    .linkAdm a{
        font-size: 1.2rem;
    }
}



/* 890px */
@media (max-width: 890px) {
    .containerInfo{
        width: 99%;
        gap: 3rem;

}
}



@media (max-width: 610px) {
    footer{
        height: 50rem;
    }
    .containerInfo{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 90%;
        margin-top: 0rem;
        gap: 1rem;
    }
    .atendimento, .pagamento, .redes{
        align-items: center;
        width: 70%;
        p{text-align: center;}
    }

    .autoriaECopy{
        margin-top: 0rem;
        a{
            margin-top: 1.5rem;
        }
    }
}