:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

.caixaTexto p {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}



footer{
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 1rem 2rem;
}


.autoriaECopy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    width: 100%;
    
}
.textCopy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;

    p{
        padding-top: 1rem;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;

    }
}








/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */




/* 1920px (monitores grandes) */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    form { height: 65%; }

    .caixaTexto p { font-size: 2rem; }

    .caixaForm {
        height: 52%;
        gap: 1rem;
        margin-top: 1rem;
    }

    .caixaForm label {
        width: 75%;
        font-size: 1.3rem;
    }

    .caixaForm input {
        height: 1.8rem;
        width: 19rem;
    }

    .caixaForm span {
        margin-top: 2rem;
        font: 550 1.3rem "Montserrat", sans-serif;
    }

    .caixabtn {
        gap: 0.5rem;
        height: 28%;
    }

    .caixabtn button {
        width: 45%;
        height: 3rem;
        font-size: 1.3rem;
    }

    .caixabtn a { font-size: 0.9rem; }
}

/* 1750px */
@media (max-width: 1750px) {
    form { width: 40%; }

    .caixaTexto p { font-size: 2rem; }
}

/* 1600px — tela da Gabriella */
@media (max-width: 1600px) {
    form {
        width: 30%;
        height: 70%;
    }

    .caixaTexto p { font-size: 1.8rem; }

    .caixaForm {
        height: 52%;
        gap: 1rem;
        margin-top: 1rem;
    }

    .caixaForm label {
        width: 65%;
        font-size: 1rem;
    }

    .caixaForm input {
        height: 1.5rem;
        width: 17rem;
    }

    .caixaForm span {
        margin-top: 2rem;
        font: 550 1rem "Montserrat", sans-serif;
    }

    .caixabtn {
        gap: 0.5rem;
        height: 28%;
    }

    .caixabtn button {
        width: 40%;
        height: 2.5rem;
        font-size: 1rem;
    }

    .caixabtn a { font-size: 0.7rem; }
}

/* 1360px */
@media (max-width: 1360px) {
    form { width: 50%; }
}

/* 1000px */
@media (max-width: 1000px) {
    form { width: 55%; }

    label { width: 70%; }
    input { width: 17rem; }
    span { font-size: 1rem; }

    button { width: 50%; }
}

/* 890px */
@media (max-width: 890px) {
    form { width: 65%; }

    .caixaTexto p { font-size: 1.6rem; }

    span {
        font-size: 0.5rem; 
        text-align: center;
    }
    button { width: 58%; }
}

@media (max-width: 610px) {
    .caixaForm label { width: 65%; }
    .caixaForm input { width: 13rem; }
    .caixabtn button { width: 65%; }
    
}

/* Telas extremamente pequenas (só por segurança) */
@media (max-width: 480px) { 
    form { 
        width: 85%; 
        height: 75%;}

    .caixaForm label { width: 95%; }

    .caixaTexto p { font-size: 1.4rem; }



}
