:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

.caixaTexto p {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}



footer{
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 1rem 2rem;
}


.autoriaECopy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    width: 100%;
    
}
.textCopy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;

    p{
        padding-top: 1rem;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;

    }
}









/* RESPONSIVIDADE */

/* Tela do pc da faculdade */
@media screen and (max-width: 1920px) and (max-height: 1080px) {

    form{

        height: 65%;
        
    }

    .caixaTexto{
        height: 15%;

        h1{
            font-size: 4rem;
        }
        p{ 
            font-size: 1rem;
        }
    }


    .caixaForm{
        height: 52%;
        gap: 1rem;
        margin-top: 1rem;

        label{
            width: 75%;
            font-size: 1.3rem;
        }
        input{
            height: 1.8rem;
            width: 19rem;
        }

        span{
            margin-top: 2rem;
            font: 550 1.3rem "Montserrat", sans-serif;
        }
    }

        
    .caixabtn{
        gap: 0.5rem;
        height: 28%;

        button{
                
                width: 45%;
                height: 3rem;
                font-size: 1.3rem;
        }
        a{

            font-size: 0.9rem;
        }
    }
}


/* Tela do pc da Gabriella */
@media screen and (max-width: 1600px) and (max-height: 900px) {

    form{
        width: 40%;
        height: 70%;
    }

    .caixaTexto{
        height: 15%;

        h1{
            font-size: 3rem;
        }
        p{ 
            font-size: 0.8rem;
        }
    }

    .caixaForm{
        height: 52%;
        gap: 1rem;
        margin-top: 1rem;

        label{
            width: 65%;
            font-size: 1rem;
        }
        input{
            height: 1.5rem;
            width: 17rem;
        }

        span{
            margin-top: 2rem;
            font: 550 1rem "Montserrat", sans-serif;
        }
    }

    .caixabtn{
        gap: 0.5rem;
        height: 28%;

        button{
                
                width: 40%;
                height: 2.5rem;
                font-size: 1rem;
        }
        a{

            font-size: 0.7rem;
        }
    }




}


@media (max-width: 1750px) {

    form{

        width: 40%;
        
    }

}

@media (max-width: 1360px){

    form{
        width: 50%;
    
    }
}

@media (max-width: 1000px){

    form{
        width: 55%;
    
    }
    label{
            width: 70%; 
        }
        input{
            width: 17rem;
        }
        span{
            font-size: 1rem 
        }

    button{
                
        width: 50%;
    }

}

@media (max-width: 890px){

    form{
        width: 65%;
    
    }

    span{
            font-size: 0.5rem;
    }
    button{
                
        width: 58%;
    }
}
