:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F7F6F3;

}

form{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    gap: 1.5rem;
    background-color: #fff;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 3px #6c0a0a9f;

    font-family:  "Montserrat", sans-serif;
    color: var(--cor-primaria);

    width: 50%;
    height: 90%;


}
.caixaTexto{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    
    h1{
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 3rem;
    }
    p{
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.caixaForm{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 0.8rem;


    label{
        font-weight: 500;
        text-transform: uppercase;

    }
    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.4rem;
        color: var(--cor-primaria);
        width: 11rem;
        padding-left: 0.3rem;
        outline: none; /* tirar borda padrão do input */
        
    
    }
    input.num{
        width: 3rem;
    }
    input.dt{
        width: 7rem;
    }
    /* select{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.5rem;
        width: 8rem;
        text-transform: uppercase;
        color: var(--cor-primaria);
        overflow: auto;
    } */

}

/* Container principal */
.custom-select {
  position: relative;
  width: 6rem;
  height: 1.5rem;

  label{
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
  }

}

/* Botão principal (onde aparece o valor selecionado) */
.select-btn {
  background-color: #F7F6F3;
  color: var(--cor-primaria);
  border: 1px solid var(--cor-primaria);
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  padding: 0.2rem;
}

.select-btn:hover {
  background: var(--cor-terciaria);
}

/* Ícone da seta */
.select-btn::after {
  content: "▼";
  font-size: 0.8rem;
}

/* Lista de opções (dropdown) */
.options {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  overflow-y: auto;
  max-height: 160px;
  background-color: #F7F6F3;
  border: 1px solid var(--cor-primaria);
  border-radius: 0.2rem;
  display: none;
  z-index: 10;
  padding: 0.5rem;

}

/* Estilo das opções */
.option {
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  background: var(--cor-primaria);
}

/* Scroll personalizado */
.options::-webkit-scrollbar {
  width: 8px;
}

.options::-webkit-scrollbar-track {
  background: #F7F6F3;
}

.options::-webkit-scrollbar-thumb {
  background: var(--cor-primaria);
  border-radius: 0.2rem;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #a00d0d;
}














.caixaInputNum{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.caixabtn{
    height: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    
    button{
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            color: #fff;
            font-weight: 600;
            border-radius: 0.3rem;
            cursor: pointer;
            
            border: 1px solid #fff;
            background-color: var(--cor-primaria);
            width: 30%;
            height: 2.3rem;
            font-size: 1.1rem;

            transition: all 0.5s ease-in-out;

            &:hover
            {
                transform: scale(1.1); 
                transition: all 0.3s  ease-in-out;
                background-color: #fff;
                color: var(--cor-primaria);
                border: 1px solid var(--cor-primaria);

            }

    }

    a{
        color:var(--cor-primaria);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 0.7rem;
        font-weight: 500;
    }
}
