:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


.containerParteDados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}
.containerSuperior{
    display: flex;
    align-items: center;
    width: 80%;
    height: 25%;
    margin-left: 5rem;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}
.containerInferior{
    display: flex;
    width: 95%;
    height: 75%;
    margin-left: 2rem;
}

.caixaGrafico{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    gap: 0.4rem;
    justify-content: center;
    
    .titulo{
        margin-left: 12.2rem;
    }
    
}

.grafico{
    display: flex;
    background-color: #fff;
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria);
    width: 50%;
    height: 85%;
    box-shadow: 2px 2px 3px 2px var(--cor-primaria);
    margin-left: 12rem;
}

.caixaCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90%;
    gap: 2rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    padding-left: 0.5rem;
    background-color: #fff;
    height: 35%;
    width: 40%;
}
.titulo{
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria);
    width: 97%;
    height:85%;
    box-shadow: 2px 2px 3px 2px var(--cor-primaria);
}
h2{

    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}

