:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: var(--cor-primaria);
    overflow: hidden;
    position: fixed;
    height: 4rem;
    width: 100%;
}

.imagemLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    img{
        width: 4.5rem;
    }
    &:hover
        {
            transform: scale(1.1); 
            transition: all 0.3s  ease-in-out;

        }
}

.linksNav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    width:60%;
    cursor: pointer;
    list-style-type: none;


    a{
        text-decoration: none;
        color: #fff;
        font-weight: 550;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        transition: all 50ms ease-in-out;
        
        &:hover{
          transform: scale(1.1); 
          transition: all 50ms ease-in-out;   
      }
    }
}

.btnNav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    gap: 0.7rem;

    .btndois{width: 5.5rem;}

    button{
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        font-weight: 550;
        
        border: 1px solid #fff;
        background-color: var(--cor-primaria);
        width: 7rem;
        height: 1.8rem;

        transition: all 0.5s ease-in-out;

        &:hover
        {
            transform: scale(1.1); 
            transition: all 0.3s  ease-in-out;
            background-color: #fff;
            color: var(--cor-primaria);
            border: 1px solid var(--cor-primaria);

            a.linkbtn{   
            color: var(--cor-primaria);

            }
        }
 
        a.linkbtn{
            text-decoration: none;
            color: #fff;}
        
    }
}



/* ===== DROPDOWN ===== */

nav ul li
{
    list-style-type: none;
}
.sub-menu-ul-li p
{
    display: flex;
    margin-top: 10px;
    cursor: default;

    transition: 0.3s;
    color: #2e2e2e;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.sub-menu
{
    display: none;
}

nav ul li:hover .sub-menu-ul
{
    display: block;
}

.sub-menu-ul-li
{
    display: flex;
    padding-left: 1rem;
    align-items: center;
    height: 50px;
    width: 200px;
    transition: 0.5s;
    
}

.sub-menu-ul-li:first-child
{
    margin-top: 8px;
}

.sub-menu-ul-li:hover
{
    p{color: #fff;}
    background-color: var(--cor-primaria);
    
}

nav ul li:hover .sub-menu
{
    display: flex;
    position: absolute;
    background-color: white;
    padding-top: 0.8rem;
    margin-left: -30px; 
    

    width: 200px;
    height: 280px; 


    /* ACOMPANHAR NAV FIXA*/
    overflow: hidden;
    position: fixed;
    
}