:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

footer{
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 1rem 2rem;
}

.titFooter{
    display: flex;
    align-items: center;
    height: 30%;

    img{
        object-fit: cover;
        height: 5rem;
    }
    h2{
        color: #fff;
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }
}

.containerInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    height: 50%;
    
}

.atendimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    gap: 2rem;

    h3{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 650;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
         gap: 0.4rem; /* para usar gap, o elemento tem que ser display flex */
        
    }
    p{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 550;
        font-size: 1.2rem;
        text-align: center;
       
    }
    a{
        
        color: #fff;
    }
    
}

.pagamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 2rem;

    h3{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 650;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: left;
    }
    img{
        object-fit: cover;
        height: 2rem;
    }
    ul{
        display: flex;
        gap: 1rem;
        list-style: none;
    }
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 100%;
    gap: 2rem;

    h3{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 650;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: center;
    }

    ul{
        display: flex;
        gap: 1rem;
        list-style: none;
    }
    i{

        color: #fff;
        font-size: 2rem;
    }&:hover{

    }
}



.autoriaECopy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 20%;
    width: 50%;
    border-top: 1px solid #ffffff94;

    p{
        padding-top: 1rem;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;

    }
}

