:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


.containerParteDados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}
.containerSuperior{
    display: flex;
    align-items: center;
    width: 80%;
    height: 25%;
    margin-left: 5rem;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}
.containerInferior{
    display: flex;
    width: 95%;
    height: 75%;
    margin-left: 2rem;
    background-color: #3f312e;
}

.caixaForm{
    display: flex;
    
    background-color: #ffa601;
    width: 50%;
}
form{

    background-color: #FFF;
    height: 55%;
    width: 80%;
    box-shadow: 2px 2px 3px 2px var(--cor-primaria);
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria);

}
.caixaSelect{
    background-color: #cfcdc9;
    width: 50%;
}