:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #F7F6F3;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 3px #6c0a0a9f;

    font-family:  "Montserrat", sans-serif;
    color: var(--cor-primaria);

    width: 50%;
    height: 80%;


}
.caixaTexto{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    
    h1{
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 3rem;
    }
    p{
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.caixaForm{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    label{
        font-weight: 500;
        text-transform: upp ercase;

    }
    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
    }

}


.caixabtn{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

