:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F7F6F3;

}

form{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    gap: 1.5rem;
    background-color: #fff;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.2rem;
    box-shadow: 2px 2px 3px 2px #6c0a0a9f;

    font-family:  "Montserrat", sans-serif;
    color: var(--cor-primaria);

    width: 50%;
    height: 78%;


}
.caixaTexto{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    
    h1{
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 3rem;
    }
    p{
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.caixaForm{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    gap: 1.4rem;
    margin-top: 1rem;


    
    label{
        font-weight: 500;
        text-transform: uppercase;
        width: 30%;
        text-align: left;
       

    }
    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.4rem;
        color: var(--cor-primaria);
        width: 11rem;
        padding-left: 0.3rem;
        outline: none; /* tirar borda padrão do input */
    
    }

    .caixaInputNum{
      width: 40%;
    }
    input.num{
        width: 3rem;
    }
    input.dt{
        width: 7rem;
    }
    
}

.caixaInputNum{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.caixabtn{
    height: 30%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    
    button{
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            color: #fff;
            font-weight: 600;
            border-radius: 0.3rem;
            cursor: pointer;
            
            border: 1px solid #fff;
            background-color: var(--cor-primaria);
            width: 30%;
            height: 2.3rem;
            font-size: 1.1rem;

            transition: all 0.5s ease-in-out;

            &:hover
            {
                transform: scale(1.1); 
                transition: all 0.3s  ease-in-out;
                background-color: #fff;
                color: var(--cor-primaria);
                border: 1px solid var(--cor-primaria);

            }

    }

    a{
        color:var(--cor-primaria);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 0.7rem;
        font-weight: 500;
    }
}




























/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */
@media screen and (max-width: 1920px) and (max-height: 1080px) {

  .caixaTexto p { font-size: 1.1rem; }

  .caixaForm{
        height: 49%;
        margin-top: 1rem;

        label{
            width: 25%;
        }
    }
  .caixaForm span {
          
          font: 550 0.7rem "Montserrat", sans-serif;
      }

      .caixabtn {
          gap: 0.5rem;
          height: 28%;
      }

      .caixabtn button {
          width: 30%;
          height: 3rem;
          font-size: 1.3rem;
      }

      .caixabtn a { font-size: 0.9rem; }
}

/* 1750px */
@media (max-width: 1750px) {
    form { width: 50%; }
    .caixaForm {
        width: 75%;
    }
}

/* 1600px — tela da Gabriella */
@media (max-width: 1600px) {
    form {
        width: 50%;
        height: 80%;
       
    }

    .caixaTexto h1 { font-size: 3rem; }
    .caixaTexto p { font-size: 0.8rem; }

    .caixaForm {
        height: 60%;

    }

    .caixaForm label {
        width: 35%;
        font-size: 1rem;
    }

    .caixaForm input {
        
        width: 13rem;
    }

    .caixaForm span {
        font: 550 0.8rem "Montserrat", sans-serif;
    }

    .caixabtn {
        gap: 0.5rem;
        height: 28%;
    }

    .caixabtn button {
        width: 40%;
        height: 2.5rem;
        font-size: 1rem;
    }

    .caixabtn a { font-size: 0.7rem; }
}
/* 1360px */
@media (max-width: 1360px) {
    form { width: 65%; }
}

/* 1000px */
@media (max-width: 1000px) {
    form { width: 60%; }

    .caixaForm label { width: 45%; font-size: 0.9rem;}
    .caixaForm input { width: 10rem; }
    .caixaForm span { font-size: 1rem; }

    button { width: 50%; }
}

/* 890px */
@media (max-width: 890px) {
    form { width: 70%;}
    
    .caixaForm label { width: 40%;}
    .caixaForm input { width: 9rem; }

    span {
        font-size: 0.5rem; 
        text-align: center;
    }
    button { width: 55%; }
}

@media (max-width: 610px) {
    section{
        height: 90rem;
    }
    form { 
        display: flex;
        flex-direction: column;
        height: 80rem;}
        .caixaForm{
            flex-direction: column;
            gap: 1.5rem;
            flex-wrap: nowrap;
        }

    .caixaForm label { width: 65%; }
    .caixaForm input { width: 12rem; }
    .caixabtn button { width: 70%; }

    .caixaTexto h1 { font-size: 2.5rem; }
    .caixaTexto p { font-size: 0.7rem; }
    
}

/* Telas extremamente pequenas (só por segurança) */
@media (max-width: 480px) { 
    form { 
        width: 85%; 
        height: 75%;}
    .caixaForm label { width: 95%; }


}