:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}


.containerParteDados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}
.containerSuperior{
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: 5rem;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}
.containerInferior{
    display: flex;
    width: 95%;
    height: 80%;
    margin-left: 2rem;
    
}

.caixaForm{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.3rem;
    box-shadow: 2px 2px 2px #6c0a0a9f;

    font-family:  "Montserrat", sans-serif;
    color: var(--cor-primaria);

    height: 80%;
    width: 80%;

    label{
        font-weight: 500;
        font: 550 1.2rem "Montserrat", sans-serif;
        width: 60%;
        text-align: left;
        margin-top: 0.8rem;
        margin-left: 6rem;

    }

    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.6rem;
        color: var(--cor-primaria);
        width: 18rem;
        padding-left: 0.3rem;
        margin-top: 0.8rem;
        outline: none; /* tirar borda padrão do input */
        margin-left: 6rem;
    
    }
}

input.inpValor{
    width: 12rem;
}
input.inpImg{
    width: 7.9rem;
    
}


button{
    margin-top: 2.5rem;
    margin-left: 8.8rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;

    border: 1px solid #fff;
    background-color: var(--cor-primaria);
    width: 40%;
    height: 2.3rem;
    font-size: 1.1rem;

    transition: all 0.5s ease-in-out;

    &:hover
    {
        
        transition: all 0.3s  ease-in-out;
        background-color: #fff;
        color: var(--cor-primaria);
        border: 1px solid var(--cor-primaria);

    }

}




.caixaSelect{
    width: 50%;

    display: flex;
    justify-content:center;
    align-items: center;
}
table{
    font-family: "Montserrat", sans-serif;
    background-color: #FFF;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria); 
    height: 95%;
    width: 95%;
    
}
th.colId{
    width: 8%;
    height: 2.5rem;
    
}
tr{&:hover{
        background-color: #F7F6F3; 
    }}

th,td{
    border: 1px solid var(--cor-primaria);
    
}
td{
    height: 3.5rem;
    padding-left: 0.5rem;
    cursor: pointer;

    
    
}


.tabela-scroll {
    width: 100%;
    height: 450px;  
    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 0.2rem;
}

.tabela-scroll table {
    width: 100%;
    border-collapse: collapse;
}

/* Deixar o header fixo */
.tabela-scroll thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid var(--cor-primaria);
}











.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    animation: aparecer 0.3s ease;
    
}

@keyframes aparecer {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.btn-acao {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    background: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-acao.delete {
    background: #b30000;
}

.fechar {
    margin-top: 1rem;
    background: #444;
    color: white;
    padding: 8px;
    border-radius: 6px;
}
