:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


.containerParteDados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}

.containerSuperior{
    display: flex;
    align-items: center;
    width: 85%;
    height: 20%;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}

.containerInferior{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    
}


.caixaSelect{
    width: 95%;

    display: flex;
    justify-content:center;
    align-items: center;
}
table{
    font-family: "Montserrat", sans-serif;
    background-color: #FFF;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria); 
    height: 70%;
    width: 100%;
    
}
th.colId{
    width: 8%;
    height: 2.5rem;
    
}

th,td{
    border: 1px solid var(--cor-primaria); 
}
td{
    height: 2.5rem;
    padding-left: 0.5rem;
    
}
td button{
    border: 1px solid #fff;
    background-color: var(--cor-terciaria);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    border: 1px solid var(--cor-primaria); 
    height: 50%;
    width: 90%;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;

    transition: all 0.5s ease-in-out;

    &:hover
    {
        
        transition: all 0.3s  ease-in-out;
        background-color: #235329;
        color: #fff;
        border: 1px solid var(--cor-terciaria);

    }
}



.modal{
    display:none;
    position:fixed; top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.5);
    align-items:center; justify-content:center;
}
.modal-content{
    background:#fff;
    padding:20px;
    width:350px;
    border-radius:10px;
    text-align:center;
}






/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */


/* 1360px */
@media (max-width: 1500px) {
    .containerSuperior h1{
        font-size: 3rem;
    }

    .containerInferior{
        margin-left: 1rem;
    }
}

/* 1360px */
@media (max-width: 1360px) {
    .containerSuperior h1{
        font-size: 2.8rem;
    }

    .caixaForm{
        width: 45%;

    }
    
    form{
        width: 90%;
        label{
        width: 70%;
        }
        input{
        width: 14rem;
        }
    }
    .caixaSelect{
        width: 55%;
    }

    button{
        width: 55%;
    }
}

@media (max-width: 990px) {
    .containerSuperior {
        justify-content: center;
        h1{
            font-size: 2.6rem;
        }
    }
    .caixaSelect{
        margin-left: 1.5rem;
    }

    table{
        width: 50%;
    }
    .tabela-scroll{
        width: 90%;
    }
        
    th.colId{
        width: 15%;
        height: 2.5rem;
        
    }
}
@media (max-width: 780px) {
    .containerSuperior {
        justify-content: center;
        margin-left: 2.5rem;
        h1{
            font-size: 2rem;
        }
    }
    .containerInferior{
        flex-direction: column;
        height: 90%;
    }
    .caixaForm{
        height: 30%;
        width: 95%;
    }
    .caixaSelect{
        height: 60%;
        width: 90%;
    }

    form{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 0.5rem;
        height: 40%;

        label{
            font-size: 0.9rem;
            width: 25%;
            text-align: center;
            background-color: #F7F6F3;
        }
        input{
            width: 15rem;
            margin: 0;
            
        }
    }

    button{
        margin: 0rem 0rem 0rem 1rem;
        width: 25%;
        
        font-size: 0.7rem;
    }
}

