:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
    
    background-color: #6C0A0A;
}
.saudacaoAdm{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 2rem;

    h1{
        color: #fff;
        font-weight: 550;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
    }
}
.containerLinksNavegacao{
    display: flex;
    align-items: center;
    height: 70%;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 550;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    
   
}
ul{
    display: flex;
    width: 100%;

}


li{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    
    
}
a{
    padding-top: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
    height: 5rem;
}
a:hover
{
    transition: all 0.3s  ease;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);

}

.saidaAdm{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: flex-end;
    align-items: end;
    text-align: center;

    
    a{
        padding-top: 1.5rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: #fff;
        height: 6rem;
        text-align: start;
        width: 100%;
    }
    a:hover
    {
        transition: all 0.3s  ease;
        background-color: var(--cor-primaria);
        color: var(--cor-terciaria);
    }

    i{
        color: #fff;

    }
    

}




