:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}


.containerParteDados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}
.containerSuperior{
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: 5rem;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}
.containerInferior{
    display: flex;
    width: 95%;
    height: 80%;
    margin-left: 2rem;
    
}

.caixaForm{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--cor-primaria);
    border-radius: 0.3rem;
    box-shadow: 2px 2px 2px #6c0a0a9f;

    font-family:  "Montserrat", sans-serif;
    color: var(--cor-primaria);

    height: 80%;
    width: 80%;

    label{
        font-weight: 500;
        font: 550 1.2rem "Montserrat", sans-serif;
        width: 60%;
        text-align: left;
        margin-top: 0.8rem;
        margin-left: 6rem;

    }

    select{
        margin-top: 1rem;
        margin-left: 6rem;
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.6rem;
        width: 13rem;
        outline: none;
        color: var(--cor-primaria);
    }

    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.6rem;
        color: var(--cor-primaria);
        width: 18rem;
        padding-left: 0.3rem;
        margin-top: 0.8rem;
        outline: none; /* tirar borda padrão do input */
        margin-left: 6rem;
    
    }
}

input.inpValor{
    width: 12rem;
}
input.inpImg{
    width: 7.9rem;
    
}


button{
    margin-top: 2.5rem;
    margin-left: 8.8rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;

    border: 1px solid #fff;
    background-color: var(--cor-primaria);
    width: 40%;
    height: 2.3rem;
    font-size: 1.1rem;

    transition: all 0.5s ease-in-out;

    &:hover
    {
        
        transition: all 0.3s  ease-in-out;
        background-color: #fff;
        color: var(--cor-primaria);
        border: 1px solid var(--cor-primaria);

    }

}





.caixaSelect{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
table{
    font-family: "Montserrat", sans-serif;
    background-color: #FFF;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria); 
    height: 100%;
    width: 95%;
    
}
th.colId{
    width: 8%;
    height: 2.5rem;
    
}
tr{&:hover{
        background-color: #F7F6F3; 
    }}

th,td{
    border: 1px solid var(--cor-primaria);
    
}
td{
    height: 3.5rem;
    padding-left: 0.5rem;
    cursor: pointer;

}


.tabela-scroll {
    width: 100%;
    height: 450px;  
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.2rem;
}

.tabela-scroll table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--cor-primaria);
}

/* Deixar o header fixo */
.tabela-scroll thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid var(--cor-primaria);
}








.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    z-index: 1000;
}


.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 30rem;
    font-family: "Montserrat", sans-serif;

    form{
        border:none;
        box-shadow: none;
    }
}

@keyframes aparecer {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.btn-acao {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    background: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.modal-content button {
    
    width: 70%; 
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    &:hover{
        border: 1px solid var(--cor-primaria); 
    }
}

.bts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    height: 60%;
    gap: 1rem;
    
}
#btnEditar{
    background: var(--cor-terciaria);
    width: 50%; 
}
#btnExcluir {
    background: #a30000;
    width: 50%; 
    color: white;
    
    
}

.fechar {
    margin-top: 1rem;
    background: #444;
    color: white;
    padding: 8px;
    border-radius: 6px;
}












/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */


/* 1360px */
@media (max-width: 1500px) {
    .containerSuperior h1{
        font-size: 3rem;
    }

    .containerInferior{
        margin-left: 1rem;
    }
}

/* 1360px */
@media (max-width: 1360px) {
    .containerSuperior h1{
        font-size: 2.8rem;
    }
    .containerInferior{
        margin-left: 1rem;
    }

    .caixaForm{
        width: 45%;

    }
    
    form{
        width: 85%;
        label{
            width: 70%;
            margin-left: 4.5rem;
            font-size: 0.9rem;
        }
        input{
            width: 11rem;
            margin-left: 4.5rem;

        }
        select{
            margin-left: 4.5rem;
            width: 10rem;
        }
    }
        
    input.inpValor{
        width: 9rem;
    }
    input.inpImg{
        width: 6.5rem;
        
    }
    .caixaSelect{
        width: 55%;
    }

    button{
        width: 55%;
        margin-left: 4.5rem;
    }
}


@media (max-width: 990px) {
    .containerSuperior {
        justify-content: center;
        h1{
            font-size: 2.6rem;
        }
    }
    .containerInferior{
        margin-left: 0rem;
    }
    .caixaSelect{
        margin-left: 1.5rem;
        width: 70%;
    }

    table{
        width: 70%;
    }
    .tabela-scroll{
        width: 95%;
    }
        
    th.colId{
        width: 10%;
        height: 2.5rem;
        
    }
    .caixaForm{
        width: 38%;
    }

    form{
        width: 80%;
        label{
            width: 70%;
            margin-left: 3rem;
            font-size: 0.9rem;
        }
        input{
            width: 11rem;
            margin-left: 3rem;

        }
        select{
            margin-left: 3rem;
            width: 10rem;
        }
    }
        
    input.inpValor{
        width: 9rem;
    }
    input.inpImg{
        width: 6.5rem;
        
    }
    .caixaSelect{
        width: 62%;
    }

    button{
        width: 60%;
        font-size: 0.9rem;
        margin-left: 3rem;
    }
}


@media (max-width: 830px) {
    .containerParteDados{
        gap: 0.5rem;
    }
    .containerSuperior {
        justify-content: center;
        margin-left: 2.5rem;
        h1{
            
            font-size: 2rem;
        }
    }
    .containerInferior{
        flex-direction: column;
        height: 90%;
        gap:0.8rem;
    }
    .caixaForm{
        height: 50%;
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    .caixaSelect{
        height: 40%;
        width: 99%;

      
    }
        
      
    table{
        height: 100%;
        font-size: 0.9rem;
    }
    th.colId{
        width: 5%;
        height: 1.8rem;
        
    }
        
    .tabela-scroll {
        width: 100%;
        height: 210px;  
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0.2rem;
    }

    form{
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        gap: 0.4rem;
        padding: 1rem;
        height: 95%;

        label{
            font-size: 0.9rem;
            width: 30%;
            text-align: left;
            background-color: #F7F6F3;
        }
        
        input{
            width: 10rem;
            margin: 0;
            margin-left: 3rem;
            
        }
        
    input.inpValor{
        width: 6rem;
    }
    input.inpImg{
        width: 8rem;
    
    }
    select{
        width: 8rem;
    }
    }
    

    button{
        margin: 2rem 0rem 0rem 3rem;
        width: 25%;
        
        font-size: 0.7rem;
    }
}


@media (max-width: 780px) {

    .containerSuperior {
         align-items: end;
    }
    .caixaForm{
        width: 99%;
        margin-left: 0.9rem;
    }
    form{
        width: 99%;
    }
}

