:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    width: 100%;
    height: 100vh;
    
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
    
    background-color: #6C0A0A;
}
.saudacaoAdm{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 2rem;

    h1{
        color: #fff;
        font-weight: 550;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
    }
}
.containerLinksNavegacao{
    display: flex;
    align-items: center;
    height: 70%;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 550;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    
   
}
ul{
    display: flex;
    width: 100%;

}


li{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    
    
}
a{
    padding-top: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
    height: 5rem;
}
a:hover
{
    transition: all 0.3s  ease;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);

}

.saidaAdm{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 2rem;
}



/* BOTÃO DO MENU */
.btnMenu{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    display: none; /* some em telas grandes */
    z-index: 2000;
}

/* NAV recolhida */
nav.nav-fechada{
    width: 0;
    overflow: hidden;
}
/* Quando a tela for pequena */
@media (max-width: 1000px) {

    nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        transition: all 0.3s ease;
        z-index: 1500;
    }

    /* ESTADO RECOLHIDO — AGORA FUNCIONA! */
    nav.nav-fechada{
        width: 0 !important;
    }

    .btnMenu{
        display: block;
    }
}
