:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

section{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
    background-color: #6C0A0A;
    
}
.saudacaoAdm{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 2rem;

    h1{
        color: #fff;
        font-weight: 550;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
    }
}
.containerLinksNavegacao{
    display: flex;
    align-items: center;
    height: 70%;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 550;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    
   
}
ul{
    display: flex;
    width: 100%;

}


li{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    
    
}
a{
    padding-top: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
    height: 5rem;
}
a:hover
{
    transition: all 0.3s  ease;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);

}

.saidaAdm{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: flex-end;
    align-items: end;
    text-align: center;

    
    a{
        padding-top: 1.5rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: #fff;
        height: 6rem;
        text-align: start;
        width: 100%;
    }
    a:hover
    {
        transition: all 0.3s  ease;
        background-color: var(--cor-primaria);
        color: var(--cor-terciaria);
    }

    i{
        color: #fff;

    }
    

}



/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */



/* 1360px */
@media (max-width: 1360px) {

    .containerLinksNavegacao{
        font-size: 1.2rem;
    }

}



/* 1000px */
@media (max-width: 990px) {
    section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .saudacaoAdm{
        height: 100%;
        padding-left: 0;
        justify-content: flex-start;
        width: 10%;

       h1{
            font-size: 1rem;
            width: 100%;
       }

    }
    nav{
        transition: all 0.3s  ease;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%; 
        height: 9%;
        border-radius: 0.3rem;
        border: 2px solid var(--cor-primaria);
        margin-bottom: 1rem;
    }
    .containerLinksNavegacao{
        flex-direction: row;
        font-size: 0.9rem;
        width: 65%;
        height: 100%;
        
    
   
        ul{
            height: 100%;
            width: 100%;
        
            
        }
        li{
            height: 100%;
            flex-direction: row;
            justify-content: center;
           
            
            
        }
        a{
            height: auto;
            padding: 1.3rem 0.6rem 0rem 0.6rem;
            
        
        }
    }

    .saidaAdm{
        height: 3rem;
        width: 15%;

        a{
            padding: 0;
            font-size: 1rem;
            height: 2rem;
            text-align: center;
        }
    }

}


/* 890px */
@media (max-width: 890px) {
    nav{
        width: 95%;
    }
    .saudacaoAdm{
        display: none;
    }
    .containerLinksNavegacao{
        width: 75%;
   
    }


}


@media (max-width: 710px) {
    nav{
        width: 99%;
        border-radius: 0;
    }
    .containerLinksNavegacao{
        width: 90%;
        font-size: 0.8rem;
    }
    .saidaAdm a{
        font-size: 0.8rem;
    }
}

@media (max-width: 610px) {
    nav{
        
        padding: 0;

    }
    .containerLinksNavegacao{
        width: 85%;
        font-size: 0.6rem;

        a{
             padding: 1.3rem 0.4rem 0rem 0.4rem;
        }
    }
    .saidaAdm{
        padding-top: 0.6rem;
        align-items: center;
        height: 100%;
        width: 10%;

       a{
        width: 100%;
       }
    }
}

