:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


.containerParteDados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}
.containerSuperior{
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: 5rem;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}
.containerInferior{
    display: flex;
    width: 95%;
    height: 80%;
    margin-left: 2rem;
    
}

.caixaForm{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 55%;
    width: 80%;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria);


    label{
        font-weight: 500;
        font: 550 1.2rem "Montserrat", sans-serif;
        width: 58%;
        text-align: left;
        margin-top: 0.5rem;

    }

    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.6rem;
        color: var(--cor-primaria);
        width: 18rem;
        padding-left: 0.3rem;
        margin-top: 0.5rem;
        outline: none; /* tirar borda padrão do input */
    
    }
}


button{
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;

    border: 1px solid #fff;
    background-color: var(--cor-primaria);
    width: 40%;
    height: 2.3rem;
    font-size: 1.1rem;

    transition: all 0.5s ease-in-out;

    &:hover
    {
        
        transition: all 0.3s  ease-in-out;
        background-color: #fff;
        color: var(--cor-primaria);
        border: 1px solid var(--cor-primaria);

    }

}




.caixaSelect{
    width: 45%;
    margin-left: 3rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
table{
    font-family: "Montserrat", sans-serif;
    background-color: #FFF;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria); 
    height: 55%;
    width: 75%;
    
}
tr{&:hover{
        background-color: #F7F6F3; 
    }}

th.colId{
    width: 20%;
    height: 2.5rem;
    
}

th,td{
    border: 1px solid var(--cor-primaria); 
}
td{
    height: 3rem;
    padding-left: 0.5rem;
    cursor: pointer;
    
}





.tabela-scroll {
    width: 100%;
    height: 300px;  
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--cor-primaria); 
    border-radius: 0.2rem;
}

.tabela-scroll table {
    width: 100%;
    border-collapse: collapse;
}

/* Deixar o header fixo */
.tabela-scroll thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid var(--cor-primaria);
}






.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px var(--cor-primaria);
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 30rem;
    font-family: "Montserrat", sans-serif;

    form{
        border:none;
        box-shadow: none;
    }
}
.bts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    height: 60%;
    gap: 1rem;
    
}

.modal-content button {
    
    width: 70%; 
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    &:hover{
        border: 1px solid var(--cor-primaria); 
    }
}

#btnEditar{
    background: var(--cor-terciaria);
    width: 50%; 
}
#btnExcluir {
    background: #a30000;
    width: 50%; 
    color: white;
    
    
}





/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */


/* 1360px */
@media (max-width: 1500px) {
    .containerSuperior h1{
        font-size: 3rem;
    }

    .containerInferior{
        margin-left: 1rem;
    }
}

/* 1360px */
@media (max-width: 1360px) {
    .containerSuperior h1{
        font-size: 2.8rem;
    }

    .caixaForm{
        width: 45%;

    }
    
    form{
        width: 90%;
        label{
        width: 70%;
        }
        input{
        width: 14rem;
        }
    }
    .caixaSelect{
        width: 55%;
    }

    button{
        width: 55%;
    }
}

@media (max-width: 990px) {
    .containerSuperior {
        justify-content: center;
        h1{
            font-size: 2.6rem;
        }
    }
    .caixaSelect{
        margin-left: 1.5rem;
    }

    table{
        width: 50%;
    }
    .tabela-scroll{
        width: 90%;
    }
        
    th.colId{
        width: 15%;
        height: 2.5rem;
        
    }
}
@media (max-width: 780px) {
    .containerSuperior {
        justify-content: center;
        margin-left: 2.5rem;
        h1{
            font-size: 2rem;
        }
    }
    .containerInferior{
        flex-direction: column;
        height: 90%;
    }
    .caixaForm{
        height: 30%;
        width: 95%;
    }
    .caixaSelect{
        height: 60%;
        width: 90%;
    }

    form{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 0.5rem;
        height: 40%;

        label{
            font-size: 0.9rem;
            width: 25%;
            text-align: center;
            background-color: #F7F6F3;
        }
        input{
            width: 15rem;
            margin: 0;
            
        }
    }

    button{
        margin: 0rem 0rem 0rem 1rem;
        width: 25%;
        
        font-size: 0.7rem;
    }
}

