:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}


.containerParteDados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    

}
.containerSuperior{
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: 5rem;

    h1{
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;  
    }

}
.containerInferior{
    display: flex;
    width: 95%;
    height: 75%;
    margin-left: 2rem;
}

.caixaCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff;
    height: 30%;
    width: 35%;
}
.titulo{
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: left;
    width: 85%;
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    border: 1px solid var(--cor-primaria);
    width: 85%;
    height:85%;
    box-shadow: 2px 2px 2px var(--cor-primaria);
}
h2{

    font-weight: 750;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    color: var(--cor-primaria);
    &:hover{
        color: var(--cor-terciaria);
    }
}




/* ========================================================== */
/* ==================== RESPONSIVIDADE ====================== */
/* ========================================================== */


/* 1360px */
@media (max-width: 1500px) {
    .containerSuperior h1{
        font-size: 3rem;
    }
}

/* 1360px */
@media (max-width: 1360px) {
    .containerSuperior h1{
        font-size: 2.8rem;
    }
}

@media (max-width: 990px) {
    .containerSuperior h1{
        font-size: 2.6rem;
    }
}
@media (max-width: 780px) {
    .containerSuperior {
        justify-content: center;
        margin-left: 2.5rem;
        h1{
            font-size: 2rem;
        }
    }
}


@media (max-width: 610px) {
    .containerSuperior h1{
        font-size: 1.5rem;
    }
    .titulo{
        font-size: 0.8rem;
         width: 90%;
    }
    .caixa{
        width: 75%;
        height: 75%;
    }
}