:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

}
 .containerSuperior{
    display: flex;
    height: 35%;
    flex-direction: row;
    justify-content: center;
    align-items: end;


    /* .espaco{
        display: flex;
        width: 33.3%;
        background-color: pink;
    } */
    .imgPerfil{
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
        height: 100%;
        width: 20%;
       
        
        img{
            position: abosolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid var(--cor-primaria);
            z-index: 2; /* Esta div estará sobre a imagem */
            transform: translate(20%, 25%);
        }
        
    }
    .nomeCliente{
        display: flex;
        margin-bottom: 0.5rem;
        align-items: end;
        width: 20%;

        h2{
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--cor-primaria);
        }
    }


 }

.containerMeio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    z-index: 1; /* A imagem estará no plano de fundo */
    


}
.caixaInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 95%;
    background-color: #fff;
    border: 2px solid var(--cor-primaria);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px #6c0a0a9f;
    
}
.infosClientes{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    height: 100%;
    width: 60%;
    color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    
    
    ul {
        list-style-type: none;
    }
    li{
        margin-top: 1.5rem;
    }
    
}
.espacoendereco{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding-top: 2rem;
}



.containerInferior{
    display: flex;
    height: 25%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.linhaBtns{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: row;
    gap: 8rem;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    height: 50%;
    
    


    button{
        width: 4.5rem;
        height: 4rem;
        border-radius: 0.5rem;
        border: 2px solid var(--cor-primaria);
        box-shadow: 2px 2px 2px #6c0a0a9f;

    }
    i{
        font-size: 1.5rem;    

    }
    p{
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: var(--cor-primaria);
        font-size: 1rem;
        font-weight: 500;
        
    }
}
