:root{
    --cor-primaria: #6C0A0A;
    --cor-segundaria: #3f312e;
    --cor-terciaria: #ffa601;
}

section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #F7F6F3;

}
 .containerSuperior{
    display: flex;
    height: 35%;
    flex-direction: row;
    justify-content: center;
    align-items: end;


    /* .espaco{
        display: flex;
        width: 33.3%;
        background-color: pink;
    } */
    .imgPerfil{
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
        height: 100%;
        width: 20%;
       
        
        img{
            position: abosolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid var(--cor-primaria);
            z-index: 2; /* Esta div estará sobre a imagem */
            transform: translate(20%, 25%);
        }
        
    }
    .nomeCliente{
        display: flex;
        margin-bottom: 0.5rem;
        align-items: end;
        width: 20%;

        h2{
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--cor-primaria);
        }
    }


 }

.containerMeio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    z-index: 1; /* A imagem estará no plano de fundo */
    


}
.caixaInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 95%;
    background-color: #fff;
    border: 2px solid var(--cor-primaria);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px #6c0a0a9f;
    
}
.infosClientes{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    height: 100%;
    width: 60%;
    color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    
    
    ul {
        list-style-type: none;
    }
    li{
        margin-top: 1.5rem;
    }
    
}
.espacoendereco{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding-top: 4rem;
}



.containerInferior{
    display: flex;
    height: 25%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.linhaBtns{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: row;
    gap: 8rem;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    height: 50%;
    
    


    button{
        width: 4.5rem;
        height: 4rem;
        border-radius: 0.5rem;
        border: 2px solid var(--cor-primaria);
        box-shadow: 2px 2px 2px #6c0a0a9f;
        background-color: #fff;
        cursor: pointer;

    }
    i{
        font-size: 1.5rem;    

    }
    p{
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: var(--cor-primaria);
        font-size: 1rem;
        font-weight: 500;
        
    }
}







/* MODAL */
/* MODAL */
/* MODAL */
/* MODAL */
/* MODAL */
/* MODAL */


#overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Cor do fundo com transparência */
    z-index: 1000; /* Z-index alto para garantir que cubra todo o conteúdo */
    display: none; /* Inicialmente oculto */
    transition: opacity 0.3s; /* Transição suave para a opacidade */
}
#modal
{
    display: none;
    background-color: #F7F6F3;
    border-radius: 0.5rem;
    padding: 2rem;
    border: 2px solid var(--cor-primaria);
    box-shadow: 2px 2px 2px #6c0a0a9f;
    position: fixed;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o modal */
    z-index: 1001; /* Z-index maior que o fundo escuro para garantir que fique na frente */
    transition: opacity 0.3s, transform 0.3s; /* Transições suaves para opacidade e transformação */
    
    #titulo-modal{
        font-size: 1.5rem;
        color: var(--cor-primaria);
        padding: 1rem;
        font-weight: 500;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    
    }

    
    ul {
        list-style-type: none;
    }
    li{
        margin-top: 1.5rem;
    }
    
} 


#modal-content
{
    display: flex;
    flex-direction: column;
    width: 50rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;

    p{
    
        font-size: 1.4rem;
        color: var(--cor-primaria);
        font-variant: small-caps;
        text-align: center ;
        padding: 1rem;
        font-family: "Montserrat", sans-serif;
    }



}



.btnModalFechar{
    border-radius: 0.2rem;
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    

    &:hover{
        background-color: #fff;
        color: var(--cor-primaria);

    }

}

.btnExcluirConta, .btnModalAtualizar{
    border-radius: 0.2rem;
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    cursor: pointer;
    text-transform: uppercase;
    width: 11rem;
    height: 2.8rem;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    

    &:hover{
        background-color: #fff;
        color: var(--cor-primaria);

    }
}
.btnModalAtualizar{margin-top: 2.5rem;}



form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    font-family:  "Montserrat", sans-serif;
    color: var(--cor-primaria);
    width: 90%;
    height: 78%;


}

.caixaForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 20rem;
    gap: 1.5rem;

    label.LnumR, label.Lcep{
        width: 35%;
    }
    
    label{
        font-weight: 500;
        text-transform: uppercase;
        width: 28%;
        text-align: left;
        height: 0.5rem;

    }

    input.num{
        width: 3rem;
    }
    input.numR{
        width: 4rem;
        height: 1.6rem;
    }
    input.dt{
        width: 7rem;
    }
    input#cep{
        width: 13.5rem;

    }

    input{
        border: 1px solid var(--cor-primaria);
        border-radius: 0.2rem;
        box-shadow: 2px 2px 3px #6c0a0a9f;
        background-color: #F7F6F3;
        height: 1.4rem;
        color: var(--cor-primaria);
        width: 11rem;
        padding-left: 0.3rem;
        outline: none; /* tirar borda padrão do input */
    
    }

    .caixaInputNum{
      width: 40%;
    }
    

}


.caixaInputNum{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
